@model IEnumerable<ApplicationUser>

<div class="container">
    <div class="row d-flex">
        <div class="col-6">
            <h1 class="h4 m-0">Volunteer Details</h1>
        </div>
        @if (User.IsInRole(SD.Role_Admin))
        {
            <div class="col-6 text-end pb-2">
                <a asp-controller="Volunteer" asp-action="Create" class="btn btn-dark">Create Volunteer</a>
            </div>
        }
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Volunteer Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.City</td>
                <td>@obj.Email</td>
                <td>@obj.PhoneNumber</td>

                <td class="d-flex align-items-center justify-content-center">
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div class="d-flex align-items-center" style="gap: 10px;">
                            <a class="btn btn-dark" asp-controller="Volunteer" asp-action="View" asp-route-id="@obj.Id"><i class="bi bi-eye"></i> View</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
